$font-stack: Optima;
$primary-color: #333;

$logo-url: url("../assets/images/p4.png");

body {
  text-align: center;
  color: $primary-color;
  background-color: yellow;
  // background: $background-image-url;
  //   -webkit-background-size: cover;
  //   -moz-background-size: cover;
  //   -o-background-size: cover;
  //   background-size:100% auto;
  //   background-attachment: fixed;

}

.container {
  text-align: center;
}

span.alert-danger, span.alert-info, span.alert-success, span.alert-warning{
  background-color: transparent;
}

span.alert-danger {
  color: #AA0099;
}

span.alert-warning {
  color: #DDDD00;
}

button.btn.btn-default {
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
}

.p4text {
  /* WebKit (Safari/Chrome) Only */
  -webkit-text-stroke: 1px white;
  
  /* If we weren't using text-shadow, we'd set a fallback color
     and use this to set color instead
    -webkit-text-fill-color: white; */
  
  color: black;
  
  text-shadow:
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
   -1px  1px 0 #FFF,
    1px  1px 0 #FFF;

    a:link {
      color: black;
      text-decoration: none;
    }
    
    /* visited link */
    a:visited {
        color: black;
        text-decoration: none;
    }
    
    /* mouse over link */
    a:hover {
        color: black;
        text-decoration: none;
    }
    
    /* selected link */
    a:active {
        color: black;
        text-decoration: none;
    }
}

.p5text {
  /* WebKit (Safari/Chrome) Only */

  -webkit-text-stroke: 1px black;
  
  /* If we weren't using text-shadow, we'd set a fallback color
     and use this to set color instead
    -webkit-text-fill-color: white; */

  color: white;
  font-family: Helvetica;
  
  text-shadow:
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;

    input {
      color: black;
    }

    a:link {
      color: white;
      text-decoration: none;
    }
    
    /* visited link */
    a:visited {
        color: white;
        text-decoration: none;
    }
    
    /* mouse over link */
    a:hover {
        color: white;
        text-decoration: underline;
        font-weight: bolder;
    }

    h1>a, h3>a, b>a:hover {
        color: white;
        text-decoration: underline;
        font-weight: bold;
    }
    
    /* selected link */
    a:active {
        color: white;
        text-decoration: none;
    }
}
  
thead{
  td{
    min-width: 100px;
    margin-top: 10px;
  }
}

table.recipes {
  float: none;
  margin: 0 auto;
  margin-top: 10px;
}

.center-table
{
  margin: auto !important;
  float: none !important;
}

table.center-table {
  margin-top: 10px;
}

.header {
  margin-bottom: 10px;
}

.pagination{
  cursor: pointer;
  cursor: hand;
}

.choiceMenu{
    margin-top: 10%;
}

.gameImg{
  display: inline;
  cursor: pointer;
  cursor: hand;
  margin: 25px;
  width: 225px;
  height: auto;
}

#header{
  position: relative;
}

#mainFrame {
  float: none;
  margin: 0 auto;
  padding: 10px 0px 10px;
  background-color: rgba(222,222,222,0.8);
  border: 2px solid black;
  border-radius: 8px;
}

#logo{
  position: absolute;
  width: 225px;
  height: auto;
}

#backToSelection{
  position: absolute;
  top: 0px;
  right: 1%;
}

#backToList{
  position: absolute;
  right: -32%;
}