$font-stack: Optima;
$primary-color: #333;

$background-image-url: url("../assets/images/background.png");

body {
  text-align: center;
  font: 100% $font-stack;
  color: $primary-color;
//  background-color: yellow;
  background: $background-image-url;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:100% auto;
  background-attachment: fixed;

}

.container {
  text-align: center;
}

span.alert-danger{
  background-color: transparent;
}

button.btn.btn-default {
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
}

h1 {
  /* WebKit (Safari/Chrome) Only */
  -webkit-text-stroke: 1px white;
  
  /* If we weren't using text-shadow, we'd set a fallback color
     and use this to set color instead
    -webkit-text-fill-color: white; */
  
  color: black;
  
  text-shadow:
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
   -1px  1px 0 #FFF,
    1px  1px 0 #FFF;
    
    a:link {
    color: black;
    }
    
    /* visited link */
    a:visited {
        color: black;
    }
    
    /* mouse over link */
    a:hover {
        color: black;
    }
    
    /* selected link */
    a:active {
        color: black;
    }
}
  

table.recipes {
  margin-top: 10px;
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}

.header {
  margin-bottom: 10px;
}