<h3 id="backToList">
	<a ng-href="/#/">Back to the list</a>
</h3> 

<div class="header">
	<label>Filter : 
		<input class="" ng-model="search" type="text" name="search" size="30" ng-change="pageNum = 0"></input>
	</label>
			
	<button class="btn btn-default" ng-click="search = ''; pageNum = 0">Clear</button>	
</div>

<div class="header">	
	{{(recipes|filter:search).length}} Recipes - {{wantedPersona.name}} ({{wantedPersona.level}} / {{wantedPersona.arcana}})
	<span class="glyphicon glyphicon-exclamation-sign alert-info" ng-show="wantedPersona.max" aria-hidden="true"></span>
	<span class="alert-info" ng-show="wantedPersona.max">Social link must be maxed!</span>
	<span class="glyphicon glyphicon-exclamation-sign alert-success" ng-show="wantedPersona.dlc" aria-hidden="true"></span>
	<span class="alert-success" ng-show="wantedPersona.dlc">Part of a purchasable DLC!</span>
	<span class="glyphicon glyphicon-exclamation-sign alert-warning" ng-show="wantedPersona.rare" aria-hidden="true"></span>
	<span class="alert-warning" ng-show="wantedPersona.rare">This persona can not be fused!</span>		
</div>	
<div ng-hide="wantedPersona.note == null">{{wantedPersona.note}}</div>

<div ng-show="pagesNumber >= 1" class="ng-show header" ng-init="pageNum = 0">	
	<span ng-click="pageNum = 0" class="pagination">
		<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
	</span>
	
	<span ng-click="(pageNum == 0) || (pageNum = pageNum - 1)" class="pagination">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	</span>

	Page 
	<span ng-bind="pageNum + 1"></span>
	/
	<span ng-model="pagesNumber = Math.floor((recipes|filter:search).length / 100)">
		{{Math.floor((recipes|filter:search).length / 100) + 1}}
	</span>
	
	<span ng-click="(pageNum == pagesNumber) || (pageNum = pageNum + 1)" class="pagination">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	</span>
	
	<span ng-click="pageNum = pagesNumber" class="pagination">
		<span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
	</span>
</div>

<table class="recipes">
	<thead class="row">
		<td class="col-xs-1">
			<b>#</b>
		</td>
		<td class="col-xs-8">
			<b>Ingredients</b>
		</td>
	</thead>
	
	<tbody>
		<tr ng-repeat="recipe in recipes | filter: search | orderBy: ingredients.length | startFrom: pageNum*100 |
					   limitTo: 100">
			<td>
				{{ pageNum * 100 + ($index + 1)}} 	
			</td>		
			<td>
				<table class="">
					<td ng-repeat="persona in recipe.ingredients | orderBy:'-level'" class="col-xs-1">
						<a ng-href="#/persona/{{persona.name}}" ng-click="goTop()">{{persona.name}}</a>
						<span ng-hide="wantedPersona.rare">({{persona.level}} / {{persona.arcana}})</span>
						<span ng-show="wantedPersona.rare">Can't be fused!</span>
					</td>
				</table>
			</td>			
		</tr>	
	</tbody>
</table>