<div class="header">
	<label>Filter : 
		<input class="" ng-model="search" type="text" name="search" size="30"></input>
	</label>
			
	<button class="btn btn-default" ng-click="search = ''">Clear</button>	
</div>

<div class="header">	
	{{(recipes|filter:search).length}} Recipes - {{wantedPersona.name}} ({{wantedPersona.level}} / {{wantedPersona.arcana}})
	<span class="glyphicon glyphicon-exclamation-sign alert-danger" ng-show="wantedPersona.max" aria-hidden="true"></span>
	<span class="alert-danger" ng-show="wantedPersona.max">Social link must be maxed!</span>		
</div>

<div ng-show="pagesNumber >= 1" class="ng-show header" ng-init="pageNum = 0">	
	<span ng-click="pageNum = 0" class="pagination">
		<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
	</span>
	
	<span ng-click="(pageNum == 0) || (pageNum = pageNum - 1)" class="pagination">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	</span>

	Page 
	<span ng-bind="pageNum + 1"></span>
	/
	<span ng-model="pagesNumber = Math.floor((recipes|filter:search).length / 100)">
		{{Math.floor((recipes|filter:search).length / 100) + 1}}
	</span>
	
	<span ng-click="(pageNum == pagesNumber) || (pageNum = pageNum + 1)" class="pagination">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	</span>
	
	<span ng-click="pageNum = pagesNumber" class="pagination">
		<span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
	</span>
</div>

<table class="col-md-12 container recipes">
	<thead class="row">
		<td class="col-xs-1">
			<b>#</b>
		</td>
		<td class="col-xs-1">
			<b>Cost</b>
		</td>
		<td class="col-xs-10">
			<b>Ingredients</b>
		</td>
	</thead>
	
	<tbody>
		<tr ng-repeat="recipe in recipes | filter: search | orderBy: ingredients.length | startFrom: pageNum*100 |
					   limitTo: 100">
			<td>
				{{recipe.number}} 	
			</td>
			<td>tbd
<!--			{{recipe.cost}} 	-->
			</td>		
<!-- Create a subtable in this td, in which we use ngRepeat on the columns-->			
<!--
			<td ng-repeat="persona in recipe.ingredients | orderBy: '-level'">
				<a ng-href="#/persona/{{persona.name}}">{{persona.name}}</a> ({{persona.level}} / {{persona.arcana}})
			</td>
-->
			<td>
				<table class="container">
					<td ng-repeat="persona in recipe.ingredients | orderBy: '-level'" class="col-xs-1">
						<a ng-href="#/persona/{{persona.name}}" ng-click="goTop()">{{persona.name}}</a> ({{persona.level}} / {{persona.arcana}})
					</td>
				</table>
			</td>			
		</tr>	
	</tbody>
</table>