<!DOCTYPE html>
<html ng-app="myApp">

	<head>
		<title>Persona Fusion Calculator</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">		
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>

	<body ng-controller="indexController">
		
		<div ng-show="gameChosen">
	
			<div id="header">
				<div ng-if="gameChosen != ''">
					<img id="logo" class="img-responsive" ng-src="assets/images/{{gameChosen}}.png">
				</div>
				<h1>
					<a ng-if="gameChosen == 'p4'" ng-href="/#/">Persona 4 Fusion Calculator</a>
					<a ng-if="gameChosen == 'p4g'" ng-href="/#/">Persona 4 Golden Fusion Calculator</a>
					<!--<a ng-if="gameChosen == 'p5'" ng-href="/#/">Persona 4 Fusion Calculator</a>-->
				</h1>
				
				<h3 id="backToSelection">
					<a ng-click="chooseGame('')" ng-href="/#/">Back to game selection</a>
				</h3> 
			</div>
	
			<div class="container">
	
				<div ng-view></div>
	
			</div>

		</div>
		
		<div ng-hide="gameChosen">
			
			<div class="choiceMenu">
				<h1>Choose your game:</h1>
				<a ng-href="/#/"><img class="img-responsive gameImg" ng-src="assets/images/p4.png" align="middle" ng-click="chooseGame('p4')"></a>
				<a ng-href="/#/"><img class="img-responsive gameImg" ng-src="assets/images/p4g.png" align="middle" ng-click="chooseGame('p4g')"></a>
				<!--<a ng-href="/#/"><img class="img-responsive gameImg" ng-src="assets/images/p5.png" align="middle" ng-click="chooseGame('p5')"></a>-->
			</div>
		</div>

		<script src="js/vendors.js"></script>
		<script src="js/bundle.js"></script>

	</body>
</html>